# Include this file in .git/config as follows:
# [include]
#   path = ../.gitconfig

[alias]
#
# Deploying to gh-pages command using the default output directory:
#   git gh-deploy
# By default, the output directory is called 'dist.'
# This can be replaced with your own output directory name by entering an optional input parameter.
#   git gh-deploy $optionalOutputDirName
#
    com = !git checkout master
    sto = "!f() { odir=${1-dist}; git subtree split --prefix $odir -b gh-pages; }; f"
    pgh = !git push -f origin gh-pages:gh-pages
    dgh = !git branch -D gh-pages
    gh-deploy = "!f() { git com && git sto $1 && git pgh && git dgh; }; f"
